body {
  background-color: #b1dada; }

:root {
  --main-color: rgb(16, 66, 21);
  --second-color: rgb(177, 218, 218); }

h2 {
  text-align: center;
  color: var(--main-color);
  font-size: 5em; }

h1 {
  font-family: 'Germania One', cursive;
  color: var(--main-color);
  font-size: 8em;
  text-align: center; }

h5 {
  font-family: 'Germania One', cursive;
  font-size: 2em; }

/* Navigation*/
.navbar-brand {
  font-family: 'Germania One', cursive; }

.navbar-brand img {
  width: 50px;
  filter: drop-shadow(0 0 1px white); }

.navbar-brand img:hover {
  transition: all 1s;
  filter: drop-shadow(0 0 5px #0e3d12); }

.nav-item a {
  padding-left: 20px;
  border-radius: 80px;
  transition: all 0.8s; }

.nav-item a:hover {
  color: white;
  border-radius: 80px;
  font-size: large;
  font-weight: bold;
  background-color: var(--main-color);
  animation: slide 1s ease-in-out 0s  alternate both; }

@keyframes slide {
  0% {
    transform: translateX(0); }
  100% {
    transform: translateX(50px); } }

.navbar-toggler {
  transition: all 0.4s; }

.navbar-toggler:hover {
  background-color: var(--main-color);
  box-shadow: 0px 0px 5px white; }

#offcanvasDarkNavbarLabel {
  text-shadow: 2px 2px 20px var(--main-color); }

/*main index*/
.main-index {
  padding-top: 100px;
  height: 100vh;
  padding-right: 0;
  padding-left: 0;
  color: var(--main-color);
  width: 100%;
  background: var(--main-color);
  background: linear-gradient(140deg, var(--main-color) 70%, #b1dada 50%); }
  .main-index h1 {
    color: white; }

.tituloIndex {
  display: flex;
  justify-content: center;
  align-items: center; }

.portada {
  display: flex;
  color: white;
  margin-top: 50px; }

.portada-texto {
  width: 50%;
  padding: 50px; }

.portada-img {
  height: 30%; }

.portada-img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  animation: derecha 2s ease 0s 1 normal forwards; }

.portada-texto h2 {
  color: white; }

.portada-texto p {
  margin-bottom: 50px; }

.portada-texto div {
  animation: izquierda 2s ease 0s 1 normal forwards; }

.btnIndex, .btn, .btn:hover {
  background-color: orange;
  color: black;
  text-decoration: none;
  border-radius: 30px 10px;
  padding: 20px 50px;
  font-weight: bold;
  transition: all 0.3s; }

.btnIndex:hover, .btn:hover {
  border-radius: 8px;
  background-color: var(--second-color);
  border-radius: 30px 10px;
  box-shadow: 0px 0px 20px 2px white;
  color: black; }

.btnAgenda {
  background-color: white; }

.btnAgenda:hover {
  box-shadow: 0px 0px 20px 2px orange;
  color: black; }

.portada-texto h2 {
  padding-bottom: 30px; }

.portada-img {
  background-color: var(--second-color);
  border-radius: 50%; }

.main-img {
  width: 200px;
  height: 200PX;
  filter: drop-shadow(0 0 5px white); }

.main-img img {
  object-fit: cover;
  width: 100%;
  height: 100%; }

@keyframes izquierda {
  0% {
    transform: translateX(-80vw); }
  100% {
    transform: translateX(0px); } }

@keyframes derecha {
  0% {
    transform: translateX(80vw); }
  100% {
    transform: translateX(0px); } }

/* aside index*/
.aside-container {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center; }

aside .container h2 {
  margin: 100px; }

.container-img {
  width: 50%; }

.container-img img {
  object-fit: cover;
  width: 100%;
  height: 100%; }

.container-txt {
  width: 50%;
  color: white;
  background-color: var(--main-color);
  border-radius: 20px 80px;
  padding: 50px; }

.container-txt h3 {
  font-size: 3em;
  margin-bottom: 50px;
  text-align: center;
  color: white; }

.nosotros {
  padding-bottom: 100px;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center; }

.conNosotros {
  color: orange;
  font-family: 'Rubik Wet Paint', cursive;
  rotate: -3deg; }

/*section*/
section {
  margin-top: 50px;
  background-color: var(--main-color);
  padding: 80px; }

section h2 {
  margin-bottom: 50px;
  color: white; }

.instalaciones-list {
  display: flex;
  color: white;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  margin-bottom: 50px; }

.instalaciones-list ul {
  padding: 40px 50px; }

.carousel-item {
  width: 100%;
  height: 500px;
  margin-top: 50px; }

.carousel-item img {
  object-fit: cover;
  width: 100%;
  height: 100%; }

.nosotros {
  margin-top: 150px; }

.nosotros p {
  color: white;
  background-color: var(--main-color);
  padding: 80px;
  border-radius: 30px; }

/*footer*/
footer {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  background-color: rgba(0, 0, 0, 0.829);
  padding-top: 30px;
  padding-bottom: 10px; }

.redes {
  display: flex; }

.redes a {
  width: 50px;
  margin-left: 30px; }

.redes img {
  width: 100%;
  height: 100%; }

.copyright {
  margin-left: 20px; }

/* aqui comienza el css de la pagina "contacto" */
.tituoContacto {
  margin-bottom: 50px;
  color: white; }

.main-contacto {
  margin-top: 100px; }

.container-contacto {
  background-color: #424242;
  border-radius: 10px;
  padding: 50px;
  box-shadow: 10px 10px 50px 10px black; }

.foto-datos {
  padding-left: 100px;
  padding-right: 100px;
  display: flex;
  justify-content: space-between; }

.fotoMail {
  height: 300px;
  padding: 50px;
  border-radius: 50%;
  background-color: white; }
  .fotoMail img {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.boton {
  display: flex;
  justify-content: center;
  align-items: center; }

input {
  border-color: var(--main-color); }

.aside-contacto {
  background: var(--main-color);
  padding: 100px 50px 100px 50px; }
  .aside-contacto .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white; }
    .aside-contacto .container .info {
      text-decoration: none;
      list-style: none; }
      .aside-contacto .container .info li {
        font-size: 30px;
        margin-bottom: 50px; }

.material-symbols-outlined {
  font-variation-settings: 'FILL' 1, 'wght' 700, 'GRAD' 0, 'opsz' 48; }

/* aqui comienza el css de la pagina "actividades" */
.main-actividades {
  width: 100%; }
  .main-actividades h1 {
    transform: translateY(-50vh);
    z-index: 50;
    color: white;
    text-align: center; }
    .main-actividades h1 img {
      width: 50px;
      animation: bajar 2s ease 0s infinite alternate-reverse forwards; }

@keyframes bajar {
  0% {
    transform: translateY(0); }
  100% {
    transform: translateY(50px); } }

.video {
  height: 100vh; }

.video video {
  object-fit: cover;
  width: 100%;
  height: 100%; }

.card {
  height: 100%; }

.card-body {
  background-color: #424242;
  color: white; }

.card img {
  object-fit: cover;
  height: 100%;
  width: 100%; }

.actividadesP {
  margin-top: -200px;
  color: white;
  background-color: var(--main-color);
  padding: 40px;
  border-radius: 80px 10px; }

.galeria {
  margin-top: 50px; }

/* Agenda */
.main-agenda {
  height: 70vh;
  margin-top: 100px; }

.tituloAgenda {
  margin: 50px; }

.main-agenda li {
  list-style: none; }

.container-agenda {
  width: 60%;
  color: white;
  box-shadow: 10px 10px 50px 10px black; }

.sexo-selecciona {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 25px; }

.selecciona {
  margin: 0px;
  padding: 0px; }

/* planes */
.main-planes {
  margin-top: 100px; }

.planes {
  display: flex; }
  .planes .card {
    margin: 20px;
    background-color: #424242;
    color: white;
    padding: 5px;
    box-shadow: 0px 0px 20px 10px var(--main-color);
    height: auto; }
    .planes .card img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
    .planes .card .btn {
      width: 100%; }

/* Error */
.main-error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: white; }
  .main-error p {
    text-align: center; }

.error-img {
  width: 40%; }
  .error-img img {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.titulo404 {
  color: grey; }

/* responsive (funciona bien hasta 350)*/
@media only screen and (max-width: 700px) {
  h1 {
    font-size: 3em; }
  h2 {
    font-size: 2em; }
  h3 {
    font-size: 1em; }
  .container-txt h3 {
    font-size: 1em; }
  .tituloIndex {
    flex-direction: column;
    margin-bottom: 50px; }
  .main-index {
    height: 1100px;
    background: #c322c2;
    margin-bottom: 100px;
    padding-bottom: 100px; }
  .main-img {
    display: none; }
  .portada-img {
    width: 50vw; }
  .portada {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0px; }
  .portada-texto {
    padding: 0px;
    margin: 0px;
    width: 75%; }
  .portada-texto h2 {
    margin-top: 50px; }
  .instalaciones-list {
    flex-direction: column;
    align-items: flex-start;
    padding-left: 20px; }
  .instalaciones-list ul {
    margin: 0px;
    padding: 1px; }
  /* aside index*/
  aside {
    margin: 0px;
    height: 1000px; }
  aside .container h2 {
    margin-top: 0px; }
  .aside-container {
    flex-direction: column; }
  .container-img {
    margin-bottom: 50px; }
  .container-txt {
    padding: 20px;
    width: 75%; }
  .container-txt h3 {
    font-size: 1.5em; }
  /* section*/
  section {
    height: 1050px;
    margin: 0px;
    padding: 0px; }
    section div h2 {
      padding-top: 50px; }
  .instalaciones-list {
    font-size: medium; }
  .nosotros {
    width: 100%; }
    .nosotros p {
      margin-top: 30px;
      padding: 40px; }
  /* footer */
  .copyright {
    font-size: 0.8em; }
  /* contacto */
  .foto-datos {
    padding: 0px;
    justify-content: center; }
  .fotoMail {
    display: none; }
  .main-contacto {
    height: 650px; }
  .tituoContacto {
    margin: 0px;
    padding: 0px; }
  .container-contacto {
    width: 90%;
    margin-top: 50px; }
  .g-3 {
    display: flex;
    flex-direction: column; }
  /* actividades */
  .main-actividades h1 {
    margin: 0px;
    padding: 0px; }
  .actividadesP {
    width: 90%;
    margin-top: 50px; }
  /* Planes */
  .planes {
    flex-direction: column;
    align-items: center; } }
