body{
    background-color: rgb(177, 218, 218);
}

:root {
    --main-color: rgb(167, 34, 167);
    --second-color: rgb(177, 218, 218);
  }

$estilos:(
  color: white,
  color1:rgb(167, 34, 167),
  color2:rgb(177, 218, 218),
  fuente: 1rem
);

h2{
    text-align: center;
    color: var(--main-color);
    font-size: 5em;
    font-family: 'Oswald', sans-serif;
}

h1{
    font-family: 'Libre Baskerville', serif;
}

  /* Navigation*/

.navbar-brand img{
    width: 50px;
    filter: drop-shadow(0 0 5px rgb(255, 255, 255));    
}


.nav-item a{
    padding-left: 20px;
}

.nav-item a:hover{
    color: map-get($estilos, color);
    border-radius: 80px;
    font-size: large;
    font-weight: bold;
    background: rgb(195,34,194);
    background: linear-gradient(140deg, rgba(195,34,194,1) 0%, rgba(14,160,215,1) 100%);
    
}

.navbar-toggler{
    transition: all 0.4s;
}

.navbar-toggler:hover{
    background-color: var(--main-color);
    box-shadow: 0px 0px 5px white;
}

#offcanvasDarkNavbarLabel{
    text-shadow: 2px 2px 20px rgb(167, 34, 167);
    
}

/*main index*/

.main-index{
    padding-top: 100px;
    height: 100vh;
    padding-right:0; 
    padding-left: 0;
    color: var(--main-color);
    width: 100%;
    background: rgb(195,34,194);
    background: linear-gradient(140deg, rgb(195, 34, 195) 70%, rgb(177, 218, 218) 50%);
}

.tituloIndex{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Libre Baskerville', serif;
}

.portada{
    display: flex;
    color: white;
    margin-top: 50px;
}

.portada-texto{
    width: 50%;
    padding: 50px;
}

.portada-img{
    height: 30%;
}

.portada-img img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.portada-texto h2{
    color: white;
}

.portada-texto p{
    margin-bottom: 50px;
}

.btnIndex{
    background-color:orange;
    color: black;
    text-decoration: none;
    border-radius: 30px 10px;
    padding: 20px 50px;
    font-weight: bold;
    transition: all 0.3s;
}

.btnIndex:hover{
    color: white;
    border-radius: 8px;
    font-size: large;
    font-weight: bold;
    background: rgb(0, 0, 0);
    border-radius: 30px 10px;
}



.portada-texto h2{
    padding-bottom: 30px;
}

.portada-img{
    background-color: var(--second-color);
    border-radius: 50%;
}



h1{
    font-size: 8em;
    text-align: center;
    color: white;
}

.main-img{
    width: 200px;
    height: 200PX;
    filter: drop-shadow(0 0 5px rgb(255, 255, 255)); 
}

.main-img img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/* aside index*/

aside{
    height: 100vh;
    margin-top: 100px;

}

.aside-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

aside .container h2{
    margin: 100px;

}


.container-img{
    width: 50%;
}

.container-img img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.container-txt{
    width: 50%;
    color: white;
    background-color: var(--main-color);
    border-radius: 20px 80px;
    padding: 50px;
}


.container-txt h3{
    font-size: 3em;
    margin-bottom: 50px;
    text-align: center;
    color: white;
}


.nosotros{
    padding-bottom: 100px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
}

.conNosotros{
    color: orange;
}

/*section*/

section{
    margin-top: 50px;
    background-color: var(--main-color);
    padding: 80px;
}

section h2{
    margin-bottom: 50px;
    color: white;
}

.instalaciones-list{
    display: flex;
    color: white;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    margin-bottom: 50px;
}

.instalaciones-list ul{
   padding: 40px 50px;
}

.carousel-item{
    width: 100%;
    height: 500px;
    margin-top: 50px;
}

.carousel-item img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.nosotros{
    margin-top: 150px;
}

.nosotros p{
    color: white;
    background-color: var(--main-color);
    padding: 80px;
    border-radius: 30px;
}

/*footer*/

footer{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    background-color: rgba(0, 0, 0, 0.829);
    padding-top: 30px;
    padding-bottom: 10px;
    
}

.redes{
    display: flex;
}

.redes a{
    width: 50px;
    margin-left: 30px;
}

.redes img{
    width: 100%;
    height: 100%;
}

.copyright{margin-left: 20px;
 }

 /* aqui comienza el css de la pagina "contacto" */

 .tituoContacto{
    margin: 50px;
    color: var(--main-color);
 }

 .main-contacto{
    height: 70vh;
    margin-top: 100px;
 }

 @mixin contenedor ($back-color, $radio, $pad){
    background-color: $back-color;
    border-radius: $radio;
    padding: $pad;
    
 }

.container-contacto{
    @include contenedor(var(--main-color), 10px, 50px);

}

 .boton{
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .btn{
    @extend .btnIndex;
 }

 input{
    border-color: var(--main-color);
 }

 .btn:hover{
    @extend .btnIndex;
 }

 
  /* aqui comienza el css de la pagina "actividades" */

  .main-actividades{
      margin-top: 100px;

        h1{
            margin: 50px;
            color: var(--main-color);
        }
    }


    .card{
        height: 100%;
    }

    .card img{
        object-fit: cover;
        height: 100%;
        width: 100%;
    }

    .actividadesP{
        color: white;
        background-color: var(--main-color);
        padding: 40px;
        border-radius: 80px 10px;
        
    }

    .galeria{
        margin-top: 50px;
    }

 

    @media only screen and (max-width: 600px) {
        h1{font-size: 3em;}
        h2{font-size: 2em;}
        h3{font-size: 1em;}

        .container-txt h3{
            font-size: 1em;
        }
    
        .tituloIndex{
            flex-direction: column;
            margin-bottom: 50px;
        }

        .main-index{
            height: 180vh;
        }

        .main-img{
            display: none;
        }
    
        .portada-img{
            width: 50vw;
            
        }

        .portada{
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;
            padding: 0px;
            margin: 0px;
        }

        .portada-texto{
            padding: 0px;
        }

        .portada-texto h2{
            margin-top: 50px;
        }

        .instalaciones-list{
            flex-direction: column;
            align-items: flex-start;
            padding-left: 20px;
        }

        .instalaciones-list ul{
            margin: 0px;
            padding: 1px;
    
        }

        /* aside index*/

        aside{
            margin: 0px;
            height: 120vh;
        }

        aside .container h2{
            margin-top: 0px;
        }

        .aside-container{
            flex-direction: column;
        }

        .container-img{
            margin-bottom: 50px;
        }

        .container-txt{
            padding: 20px;
        }

        /* section*/

        section{
            height: 120vh;
            margin: 0px;
            padding: 0px;
        }

        .instalaciones-list{
            font-size: medium;
        }

        /* footer */

        .copyright{
            font-size: 0.8em;
        }

    }